@font-face {
  font-family: 'sans';
  src: url('../fonts/IRANSans.woff2')
}

@font-face {
  font-family: 'light_sans';
  src: url('../fonts/IRANSansWeb_Light.woff2')
}

@font-face {
  font-family: 'medium_sans';
  src: url('../fonts/IRANSansWeb_Medium.woff2')
}

@font-face {
  font-family: 'bold_sans';
  src: url('../fonts/IRANSansWeb_Bold.woff2')
}

body,
html {
  width: 100%;
  height: 100%;
}

.medium-sans {
  font-family: medium_sans !important;
  font-size: 12px;
}

.bold-sans {
  font-family: bold_sans !important;
  font-size: 12px;
}

.light-sans {
  font-family: sans !important;
  font-size: 12px;
}

.sans {
  font-family: sans !important;
  font-size: 12px;
}

.sans-small {
  font-family: sans !important;
  font-size: 10px;
}

.sans-xsmall {
  font-family: sans !important;
  font-size: 9px;
}

.sans-xxsmall {
  font-family: sans !important;
  font-size: 8px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.loading-md {
  width: 25px;
  height: 25px;
}

.loading-sm {
  width: 15px;
  height: 15px;
}

.loading-xsm {
  width: 10px;
  height: 10px;
}

.cursor {
  cursor: pointer;
}


.rounded-top-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-bottom-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

ul.nav {
  direction: rtl;
}

.nav-item {
  cursor: pointer;
}

table {
  direction: rt;

  tr th {
    text-align: center;
  }

  tr td {
    text-align: center;
  }
}

.simple-react-notifier {
  font-family: sans;

  button {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.chat-area {
  height: 100%;
  .chat-badges {
    overflow-y: scroll;
    padding-bottom: 55px;
    box-sizing: content-box;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }


  .bottom-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 10px 8px 45px;
    background-color: white;

    input {
      border: none;
      width: 100%;
      height: 35px;
      outline: none;
      border-radius: 10px;
      padding: 5px;
      font-size: large;
    }

    button {
      position: absolute;
      left: 5px;
      bottom: 12px;
      border: none;
      background: transparent;
      font-size: 25px;
      outline: none;
    }
  }
}

.receiver-badge {
    padding: 2px 5px 1px 5px;
    div {
    background-color: rgb(187, 255, 190);
    border-radius: 10px;
    max-width: -webkit-fill-available;
  }

  p {
    margin-bottom: 3px;
    direction: rtl;
    text-align: right;
    font-size: 15px;
  }

  span {
    float: left;
    direction: ltr;
    font-size: 10px;
  }
}

.sender-badge {
  text-align: left;
  padding: 2px 5px 1px 5px;

  div {
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    max-width: -webkit-fill-available;
  }

  p {
    margin-bottom: 3px;
    direction: rtl;
    text-align: right;
    font-size: 15px;
  }

  span {
    float: right;
    direction: ltr;
    font-size: 10px;
  }
}

.send-loading{
  position: absolute;
  right: 10px;
  bottom: 60px;
  opacity: .6;
}